USE [master]
GO
/****** Object:  Database [GroceryDB]    Script Date: 5/15/2026 7:55:05 PM ******/
CREATE DATABASE [GroceryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GroceryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GroceryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GroceryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GroceryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GroceryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GroceryDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[MerchantID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [varchar](100) NULL,
	[ShopAddress] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MerchantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[TotalPrice] [int] NULL,
	[Status] [varchar](20) NULL,
	[PaymentMethod] [varchar](20) NULL,
	[PaymentStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[Category] [varchar](50) NULL,
	[MerchantID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/15/2026 7:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([AdminID], [UserID], [Name], [Email], [Phone]) VALUES (1, 1, N'Super Admin', N'admin@gms.com', N'01700000000')
GO
INSERT [dbo].[Customer] ([CustomerID], [UserID], [Name], [Email], [Phone], [Address]) VALUES (1, 3, N'Rahul Sharma', N'rahul@example.com', N'01900000000', N'Apt 4B, City Center')
GO
INSERT [dbo].[Merchant] ([MerchantID], [UserID], [Name], [Email], [Phone], [Address], [ShopAddress]) VALUES (1, 2, N'Daily Fresh Mart', N'contact@freshmart.com', N'01800000000', N'123 Main St', N'Shop 42, Supermarket')
GO
INSERT [dbo].[OrderProduct] ([OrderID], [ProductID], [Quantity]) VALUES (1, 2, 1)
INSERT [dbo].[OrderProduct] ([OrderID], [ProductID], [Quantity]) VALUES (1, 4, 2)
INSERT [dbo].[OrderProduct] ([OrderID], [ProductID], [Quantity]) VALUES (2, 5, 5)
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [TotalPrice], [Status], [PaymentMethod], [PaymentStatus]) VALUES (1, 1, 252, N'Pending', N'Cash on Delivery', N'Paid')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [TotalPrice], [Status], [PaymentMethod], [PaymentStatus]) VALUES (2, 1, 750, N'Pending', N'Credit/Debit Card', N'Paid')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [TotalPrice], [Status], [PaymentMethod], [PaymentStatus]) VALUES (3, 1, 750, N'Shipped', N'Cash on Delivery', N'Paid')
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Price], [Quantity], [Category], [MerchantID]) VALUES (1, N'Aashirvaad Atta 5kg', 275, 50, N'Grains', 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Price], [Quantity], [Category], [MerchantID]) VALUES (2, N'Tata Salt 1kg', 20, 98, N'Grocery', 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Price], [Quantity], [Category], [MerchantID]) VALUES (3, N'Fortune Sunflower Oil 1L', 238, 27, N'Oils', 1)
GO
INSERT [dbo].[User] ([UserID], [Username], [Password], [Role]) VALUES (1, N'admin', N'1234', N'Admin')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Role]) VALUES (2, N'merchant', N'1234', N'Merchant')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Role]) VALUES (3, N'customer', N'1234', N'Customer')
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([MerchantID])
REFERENCES [dbo].[Merchant] ([MerchantID])
GO
USE [master]
GO
